::selection {
    background-color: #000000;      /* Background color of the selection box */
    color: #fffdfd;      /* Color of the selected text */
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #ffffff;
    margin: 0px;
    text-align: center;
}
.h1home{
    font-size: 60px;
    color: rgb(0, 0, 0);
    padding-top: 200px;
}
.h1subpage{
    font-size: 60px;
    color: rgb(0, 0, 0);
    padding-top: 200px;
}
#hero_image{
    background-image: url(../Images/Homepageheroimage.jpg);
    background-size: cover;
    background-position: bottom;
    height: 500px;   
}
#hero_image2{
    background-image: url(../Images/MilkWithSunflower.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}
#hero_image3{
    background-image: url(../Images/LargeMilkContainersHeroImage.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}
.two-column1{
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    width: 100%;
}
.two-column2{
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    width: 100%;
}
.info{
    font-size: 1.25em;
    margin: 0px 20px;
    padding: 0px 20px
}
.two-column3{
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 50px;
    width: 100%;
    height: 30vw;
}
.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 100%;
    height: 500px;
}
.card{
    background-color: #2b64ff;
    border: 0px rgb(0, 0, 0) solid;
    border-radius: 20px;
    padding: 0px;
    height:385px;
    margin: auto 63px
}
.card p{
    font-size: 0px;
    background-color:#4cd5ff;
    border-radius: 20px;
    opacity: 0.0;
    transition: transform 0.5s, font-size 0.5s, opacity 1s;
}
.card h2{
    transition: transform 0.5s;
    color: white;
}
.card img{
    height: 80%;
    width: 100%;
    object-fit:cover;
    border-radius: 20px;
    transition: height 0.5s ease;
}
img{
    width: 100%;
    border-radius: 20px;
}
.logo{
    width:10%
}
.nounder{
    text-decoration:none;
}

#infoblock3{
    background-image: url(../Images/IceCreamSoGood.jpg);
    background-size:cover;
    width: 80%;
    height:25vw;
    margin:auto;
    margin-top: 20px;
    font-size: 1.5em;
    border-radius: 20px;
    border:#0011ac solid 0.1px;
    color: rgb(0, 0, 0);
    transition: transform 0.5s, border 0.5s;
}
#infoblock4{
    background-image: url(../Images//MilkTank.jpg);
    background-size:cover;
    width: 80%;
    height:25vw;
    margin:auto;
    margin-top: 20px;
    font-size: 1.5em;
    border-radius: 20px;
    border:#0011ac solid 0.1px;
    color: rgb(0, 0, 0);
    transition: transform 0.5s, border 0.5s;
}
.infoblockimg{
    margin-top:60px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
}
.infoblocktext{
    background-color: rgba(113, 227, 255, 0.644);
}
footer{
    background-color:#2b64ff;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
nav{
    background-color: #2b64ff
}
nav a{
    text-decoration: none;
    display: inline-block;
    width: 120px;
    padding: 15px 0px;
    color: #ffffff;
    font-weight: bold;
}
nav a:hover{
    background-color: #0011ac
}
.image{
    padding: 0px 50px;
    transition: transform 0.5s, border 0.5s, background-color 0.5s, font-size 60.0s;
}
.image:hover{
    transform:scale(1.2,1.2);
}


.card:hover{
    height:385px
}
.card:hover img{
    height: 100px;
}

.card:hover p{
    font-size:20px;
    opacity: 1;
}

.bg1{
    background-color: #9cf3ff;
}

.bg2{
    background-color: #57ebff
}

.bg3{
    background-color: #55d7ff
}
#infoblock3:hover{
    transform:scale(1.05,1.05);
    border:#0011ac solid 10px;
}

#infoblock4:hover{
    transform:scale(1.05,1.05);
    border:#0011ac solid 10px;
}

.wh{
    color:white;
}

.info:hover{
    background-color: #80a2ff7c;
}